<%-  include back_header.ejs %>

<body>

<%- include back_topLink.ejs %>

<div class="container">

    <%- include left_bar.ejs %>

    <div class="well col-xs-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> <%= title %></h3>
            </div>
            <div class="panel-body">
                <%- include user_mgr.ejs %>
            </div>
        </div>
    </div>
</div>
</body>

<%- include ../footer.ejs %>
