<div>
    <table class="table table-striped">
        <tr>
            <th>序号</th>
            <th>用户昵称</th>
            <th>email</th>
            <th>角色</th>
            <th>注册时间</th>
            <th>用户状态</th>
            <th>可操作项</th>
        </tr>
        <% userList.forEach(function(user,index){ %>
        <tr>
            <td><%= ++index %></td>
            <td><%= user.niname %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td><%= user.registerTime.minute %></td>
            <td><%= user.status %></td>
            <td><a href="#">冻结用户</a></td>
        </tr>
        <% }) %>
    </table>
    <hr>

    <div class="pull-right" id="user_page">
        <ul class="pagination">
            <li class="disabled"><a href="#">首页</a></li>
            <li><a href="#">上一页</a></li>
            <li><a href="#">下一页</a></li>
            <li><a href="#">跳至
                <select>
                    <% for(var i=1;i < pageCount+1; i++ ){ %>
                    <option value='<%= i %>'><%= i %></option>
                    <% } %>
                </select>
            </a>
            </li>
            <li class="disabled"><a href="#">共<%= pageCount %>页</a></li>
        </ul>
    </div>
</div>