<%-  include back_header.ejs %>

<body>

<%- include back_topLink.ejs %>

<div class="container">

    <%- include left_bar.ejs %>

    <div class="well col-xs-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> <%= title %></h3>
            </div>
            <% if (success) { %>
            <div><%= success %></div>
            <% } %>
            <% if (error) { %>
            <div><%= error %> </div>
            <% } %>
            <div class="panel-body">

                <form  id="weapon_form" enctype="multipart/form-data" action="/admin/addWeapon" method="POST" >

                    <div class="form-group ">
                        <label for="name">weapon name </label>
                        <input type="text" class="form-control" name ="weaponName"  id="name" placeholder="weapon name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <input type="file" name="pic" id="exampleInputFile">
                        <p class="help-block form-inline">请上传xx * xx 图片</p>
                    </div>
                    <div class="form-group">
                        <label for="info">info</label>
                        <input type="text" class="form-control" name="info" id="info" placeholder="info">
                    </div>
                    <hr>
                    <div class="form-inline">
                        角色 ：
                        <select class="form-inline input-sm" name="playRole">
                            <option value="0">鬼剑士</option>
                            <option value="1">格斗家</option>
                            <option value="2">魔法师</option>
                            <option value="3">圣骑士</option>
                            <option value="4">神枪手</option>
                            <option value="5">刺客</option>
                        </select>
                        种类 ：
                        <select class="form-inline input-sm" name="weaponType">
                            <option value="0">武器</option>
                            <option value="1">防具</option>
                            <option value="2">首饰</option>
                            <option value="3">辅助装备</option>
                        </select>
                        品级 ：
                        <select class="form-inline input-sm" name ="color">
                            <option  value="0">史诗</option>
                            <option  value="1">粉色</option>
                            <option  value="2">领主粉</option>
                            <option  value="3">异界</option>
                            <option  value="4">紫色</option>
                            <option  value="5">蓝色</option>
                            <option  value="6">白色</option>
                        </select>
                        等级 ：
                        <select class="form-inline input-sm" name = "level">
                            <option value="85">85</option>
                            <option value="80">80</option>
                            <option value="75">75</option>
                            <option value="70">70</option>
                            <option value="65">65</option>
                            <option value="60">60</option>
                            <option value="55">55</option>
                            <option value="50">50</option>
                            <option value="1">1</option>
                        </select>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary">提交</button>
                    <!--<button  class="btn btn-primary" onclick="addWeapons()">提交</button>-->
                </form>

            </div>
        </div>
    </div>
</div>
</body>

<%- include ../footer.ejs %>