<%-  include back_header.ejs %>

<body onload="load_weapon_list()">

<%- include back_topLink.ejs %>

<div class="container">

    <%- include left_bar.ejs %>

    <div class="well col-xs-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> <%= title %></h3>
            </div>
            <div class="panel-body">
                <div class="pull-left">
                    <button type="button" class="btn btn-primary">增加武器</button>
                </div>

                <div class="pull-right col-xs-4">
                    <div class="input-group">
                        <input type="text" class="form-control">
                              <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                              </span>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div>
                    <table class="table table-striped">
                        <tr>
                            <th>序号</th>
                            <th>用户昵称</th>
                            <th>email</th>
                            <th>角色</th>
                            <th>注册时间</th>
                            <th>用户状态</th>
                            <th>可操作项</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td><a href="#">冻结用户</a></td>
                        </tr>
                    </table>
                    <hr>

                    <div class="pull-right" id="weapon_page">


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

<%- include ../footer.ejs %>